- teams.each do |team|
  - if team.photo.thumb.url.present?
    = link_to "#{image_tag(team.photo.thumb.url, title: team.name, alt: team.name)}<div class='thumb_name'>#{team.name}</div>".html_safe, team_path(team)
  - else
    = link_to team.name, team_path(team)
