%h3=link_to "Create Team", new_team_path if can? :create, Team

%h2 All Teams
%table.datatable
  %thead
    %tr
      %th Name
      %th Sport
      %th Location
      %th Experience Level
      %th Games Played
  - Team.all.each do |team|
    %tr
      %td= render team, icon: false
      %td
        - team.sports.map(&:name).each do |sport|
          = image_tag "#{sport.downcase}.png", title: sport, alt: sport
          %br
          =sport
      %td=team.location
      %td=team.experience_level
      %td=team.availability.to_sentence.gsub("Monday","Mon").gsub("Tuesday","Tues").gsub("Wednesday","Wed").gsub("Thursday","Thurs").gsub("Friday","Fri").gsub("Saturday","Sat").gsub("Sunday","Sun").gsub("morning","AM").gsub("night","PM").gsub("evening","PM")
