- if current_user
  - [[@matching_teams, "#{current_user.availability.to_sentence} #{current_user.sports.map(&:name).to_sentence}"], [current_user.member_teams, "My Teams"], [Team.where(captain_id: current_user.id).to_a, "Captainships"]].each do |teams, caption|
    - if teams.present?
      %h2=caption
      .team_list
        = render "list", teams: teams

%h2 All Teams
%table.datatable
  %thead
    %tr
      %th Name
      %th Sport
      %th Location
      %th Experience Level
      %th Games Played
  - Team.all.each do |team|
    %tr
      %td=link_to team.name, team_path(team)
      %td=team.sports.to_sentence
      %td=team.location
      %td=team.experience_level
      %td=team.availability.to_sentence

%h3=link_to "Create Team", new_team_path if can? :create, Team
