%h2.name=@team.name
.image=image_tag(@team.photo.url)
=link_to "Edit", edit_team_path(@team) if can? :edit, @team
.location=@team.location
.sport=@team.sport
.type=@team.team_type
.year=@team.year_founded
.achievements=@team.achievements
.availability=@team.availability.map(&:presence).compact.to_sentence
.league=link_to @team.league_url, @team.league_name
