%table.datatable
  %thead
    %tr
      %td Name
      %td Description
      %td Location
  - @leagues.each do |league|
    %tr
      %td=link_to league.name, league.url
      %td=league.description
      %td=league.location

= render "leagues/new"
