%p=image_tag "about.png"
%p Hello Internet Visitor,
%p If you are reading this very message, it's a safe bet you play amateur sports or know someone who does. If that is true, then you've likely found yourself in a situation like the above.
%p We started Sportistic because - as team organizers - we were spending more time and effort fielding teams that we were actually playing the game. While we have many goals for what Sportistic will become, right now we just want it to be a place where you can organize your teams, and make sure you always have a full roster.
%p Even the most well connected people are forced to Tweet out or e-mail a group of friends to find a last minute sub or to make sure they have a full roster before the season starts.
%p Sportistic is the marketplace where a group of individuals become teams. If you're a team captain, you can organize your roster and find both members of the team and last minute subs based on the experience level of your team or league. If you're an athlete without a team, here's where you can find the team with the appropriate level of play for your talents.
%p We hope you will join the Sportistic community, and be open with what you like and don't like. This is just the beginning.
