body {
  .content {
    padding: 0px 100px 0px 100px;
  }
  background: #030000;
  color: #c9df8e;
  font-family: Helvetica, Arial;
  .header {
    .logo {
      display: inline-block;
      width: 204px;
      height: 65px;
    }
    .menu {
      display: inline-block;
      margin-left: 60px;
    }
    .login {
      float: right;
      display: inline-block;
    }
    background-repeat: no-repeat;
    height: 65px;
    display: block;
  }
  form {
    input, label {
      display: block;
    }
    span.radio, span.checkbox {
      display: block;
      input, label {
        display: inline;
      }
    }
  }
}
.inline_box {
  input, label, div {
    display: inline;
  }
}
table.dataTable {
  tr, td {
    background-color: #2f2f2f !important;
    text-align: center;
  }
  div.DataTables_sort_wrapper {
    span {
      display: inline !important;
    }
  }
}
p.notice, p.alert {
  font-weight: bold;
}
p.alert {
  color: red;
}
p.notice {
  color: yellow;
}
.thumb_name, .sports_picker {
  font-weight: normal;
  font-size: 14px;
}

.object_list {
  display: inline-block;
  padding: 10px 0 10px 0;
}
textarea#email_body {
  width: 60%;
  height: 400px;
}
ul.position_chooser {
  margin: 0;
  padding: 20px;
  li, input {
    display: inline-block;
  }
  li {
    padding: 0;
    margin: 0 20px 0 0;
    width: 100px;
  }
  list-style-type: none;
}
